.input {
    width: 700px;
    border: 1px solid var(--border);
    border-radius: 3px;
    padding: 8px;
    font-size: 16px;
    color: var(--primary-text);
    background-color: transparent;
    resize: none;
    outline: none;
}

